<!DOCTYPE html>
<html>
        <title>family game night welcome page</title>
    <b>
      <>
    <header>
    <div class="user__main">
    <center><h1 class="glow">Family Game Night</h1></center>
    </div>
    </header>
    
    <body>
        <section>
            
                <ul class='user__menu'>
                <p><li><%=render_navigation%></li></p>
                <p><li><%=current_users_page%></li></p>
                <p><li><%=link_to "Game Library", games_path, style: "color: white;"%></li></p>
                <p><li><%=link_to "Game Reviews", reviews_path, style: "color: white;"%></li></p>
                </ul>
            
        <article>
            <h1>Welcome to our family game night!</h1>
               <p>Today, it is increasingly more common for families and friends to be seperated by statelines, mountain ranges and even oceans but that doesn't mean you can't get together for the tradtional family game night!  
                This app aims at providing information on popular games and puzzles that you can play with your family and    friends no matter the logistical hurdles in thier way.
                </p> 

                <p>This library is filled with games that are in one way or another meant to be played as a group. Some games may not be multiplayer but offer features like "aliances", "clubs" or "teams" that can be configured in such a way that benefits your group the best. These features are great for building a special kind of comradery and help make the game play more interactive and fun!
                </p>
        </article>
        </section>
    </b>
    </body>
        <footer>
             <%=button_to "Use Google to log in", '/auth/google_oauth2'%>
        </footer>

</html>

