<h1>Create a new account: "Users.new"</h1>
<body>

<%=form_for @user do |f|%>
<fieldset>
    <%=f.label :username %>
    <%=f.text_field :username %>
    <%=f.label :password %>
    <%=f.password_field :password%>
    <%=f.submit %>
    </fieldset>
<%end%>
</body>



<%= form_with model: @person do |person_form| %>
  <%= person_form.text_field :name %>
  <%= fields_for :contact_detail, @person.contact_detail do |contact_detail_form| %>
    <%= contact_detail_form.text_field :phone_number %>
  <% end %>
<% end %>