<!DOCTYPE html>
    <html>
        <span class="line">
            <h1>Create A New Account</h1>
        </span>
        <br>
        <body>

          <div class='login__container'>
            <div class="login">
            <%=form_for @user do |f|%>
                <%=f.label :username %>
                <%=f.text_field :username %>
                <%=f.label :password %>
                <%=f.password_field :password%>
                <%=f.submit %>
            <%end%>
            </div>
        </div>
        </body>
           
        <footer>
            <%=button_to "Use Google to log in", '/auth/google_oauth2'%>
        </footer>

    </html>