<!DOCTYPE html>
<html>
<span class="line">
<h1>Create A New Account</h1>
</span>
<br>
<body>
<%=form_for @user do |f|%>
<fieldset>
    <%=f.label :username %>
    <%=f.text_field :username %>
    <%=f.label :password %>
    <%=f.password_field :password%>
    <%=f.submit %>
   <%end%>
    </fieldset>

</body>
<span class="line"></span>

<footer>
</footer>


</html>