<!DOCTYPE html>
 <html>
 <b>
     <p><%=link_to "Browse Games", games_path%></p>
 </b>
     <h2>These are all of  <div class='opp-rotate orange'><u><%=current_user.username%></u></div>  posted reviews:</h2>
 <body>
     <div class="cards-list">
         <b>
         <p><%current_user.reviews.each do |rev|%></p>
         <div class="card">
         <p class='hi-lite'><b><%=rev.game.title%></b></p>
         </b>
         Rating *<%=rev.rating%>
         <div class="cards-owner">
         <p>
         <%=link_to 'Read more..', review_path(rev) %>
         </p>
         </div>
         <p>Last updated 
         <%=rev.updated_at.strftime("%m-%d-%y")%></p>
     </div>
        <%end%>
     </div>
 </body>
 </html>
