<!DOCTYPE html>
<html>
  <%=link_to "Back", games_path%>
<h2> What game do you want to share?</h2>


<fieldset><div id="fDIV">
    <%=@game.errors[:title]%><%end%>
<p><%= form_for @game do |f| %>
    <%= f.label :title%><br>
    <%= f.text_field :title, :maxlength => 20 %><br><br>
    <%= f.label :genre %><br>
    <%= f.text_field :genre, :maxlength => 20 %><br>
    <%= f.label :theme %><br>
    <%= f.text_field :theme, :maxlength => 15 %><br>
    <%= f.label :num_of_players %><br>
    <%= f.number_field :num_of_players%><br>
    <%= f.label :description, "Description of game.  This not a review."%><br>
    <%= f.text_area :description, :maxlength => 600%><br>
<br></p>
    <%= f.submit %>
    <% end %></div>
    </fieldset>
    <span class="line"></span>
<footer>
</footer>
  

    </html>