<!DOCTYPE html>
  <html>
    <head>
      <b>
        <p><%=link_to "Browse Games", games_path%></p>
        <p><%=current_users_page%></p>
      </b>
    </head>

  <body>

      <div class="line">
    <h2><u>User Submitted Reviews</u></h2>
    </div>
    <div class='review__cards'>
    <b>
    <p><%@reviews.each do |rev|%></p>
      <div class='review__card'>
      Rating *<%=rev.rating%>
       </b>
        <div class="reviews__cards">
          <b><h3><%=rev.game.title%></h3></p></b>
            <p><%=link_to rev.label, review_path(rev)%></p>
             by:<%=rev.user.username%>
          </div>
        </div>
        <%end%>
        </div>
  </body>

  <footer>
  </footer>


  </html>
