<!DOCTYPE html>
  <html>
    <head>
      <b>
        <p><%=link_to "Browse Games", games_path%></p>
        <p><%=current_users_page%></p>
      </b>
    </head>

  <body>

      <div class="line">
    <h2>User Submitted Reviews</h2>
    </div>
    <div class='cards-list'>
    <b>
    <p><%@reviews.each do |rev|%></p>
      <div class='card'>
          <b><h3><%=rev.game.title%></h3></p></b>
       </b>
      Rating *<%=rev.rating%>
        <div class="cards-owner">
            <p><%=link_to 'Click Me', review_path(rev)%></p>
          </div>
             by:<%=rev.user.username%>
        </div>
        <%end%>
        </div>
  </body>

  <footer>
  </footer>


  </html>
