<!DOCTYPE html>
    <html>
        <div class="line">
            <h2>Review of <u><%=@review.game.title%></u></h2>
            <b>*REVIEWED BY: <%=@review.user.username%> on <%=@review.game.created_at.strftime("%m-%d-%y")%><br>
            <br>
        </div>

        <body>
            <div class='review__show'>
                <p><h3><u><%=@review.label%></u></h3></p>
                <p><b><%=@review.game.title%></p>
                <p class='gshow'><em><%=@review.summary%></em></b></p>
            </div>
        </body>
        <footer>
            <p><em><%=edit_delete%></em></p>
            <p><%=link_to "Give a Game Review", new_review_path%></p>
            <p><%=link_to "Back to the Games", games_path%></p>
        </footer>
    </html>